# .gitignore para movie-landing

# Dependências
node_modules/

# Build
dist/

# Arquivos de lock
package-lock.json

# Arquivos temporários do TypeScript
*.tsbuildinfo

# Configurações locais do editor
.vscode/

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db
